@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.App {
  font-family: 'proxima-nova', sans-serif;
  color: white;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
}